body {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2 {
  color: #DEBDB8;
  text-transform: uppercase;
}

li {
  color: #C6AA53;
  list-style-type: none;
  text-transform: uppercase;
}

#helloFabiola {
  color: #303030;
  font-family: 'Parisienne', cursive;
  font-size: 2em;
}

.hidden {
  display: none;
}